<div class="scoreboard-container">
  <div class="scoreboard-time">
    {{ labels.lastUpdatedPrefix }} {{ lastUpdated() }}
  </div>
  <div #scoreboardScroll class="scoreboard-scroll">

    <table class="scoreboard">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Team Members</th>
          <th>CodeWars User</th>
          <th>Points</th>
          <th>Completed Katas</th>
        </tr>
      </thead>
      <tbody>
        @for (item of displayItems(); track item) {
          <tr>
            <td>{{ item.rank }}</td>
            <td>{{ item.teamMembers.join(', ') }}</td>
            <td>{{ item.codeWarsUser }}</td>
            <td>{{ item.points }}</td>
            <td>{{ item.completedKatas.join(', ') }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
