/* You can add global styles to this file, and also import other style files */

body {
  background-color: #f5f7fa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 2rem;
  // background-image: url('../public/pexels-resourceboy-18541770.jpg');
  //   background-size: cover; /* This ensures the background image covers the entire body */
  //   background-position: center; /* This centers the background image */
  //   background-repeat: no-repeat; /* This prevents the background image from repeating */

  }
